
/* Flex */

.flex
{
    display: flex;
}

.flex-center
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-center-gap
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.flex-center-column-gap
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.flex-between
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-around
{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.flex-around-column
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* Link */

.main-nav-a
{
    width: 100px;
    font-size: 0.9em;
    font-weight: bold;
    text-transform: uppercase;

    color: var(--black);
}

.main-nav-a:hover
{
    color: var(--secondary1);
}

/* Generic */


.section-page
{
    margin-top: 50px;
}






.div-title
{
    width: 80%;
    background: var(--secondary1);

    margin: auto;
    padding: 15px 10px;
    border-radius: 2px;
}

.title-h2
{
    color: var(--white);
    text-align: left;

    padding-bottom: 0;
}

.div-link
{
    width: 250px;
    background: var(--secondary1);

    margin: 25px auto;
    border-radius: 2px;
}

.div-link:hover
{
    background: var(--secondary3);
}

.figure-card-image
{
    position: relative;
}

.figure-card-image .abs-date
{
    background: var(--white);

    position: absolute;
    right: 0px;
    bottom: 0px;

    padding: 2px;
    border-top: 1px solid #F0F0F0;
    border-right: 1px solid #F0F0F0;
    border-left: 1px solid #F0F0F0;
}

.figure-card-image .abs-new
{
    width: 50px;
    height: 50px;
    font-size: 0.8em;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--white);
    background: var(--secondary1);

    position: absolute;
    top: 0px;
    left: 0px;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 10px;
    border-radius: 50%;
}

.figure-card-image .abs-promo
{
    width: 50px;
    height: 50px;
    font-size: 0.8em;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--white);
    background: #CD7F32;

    position: absolute;
    top: 0px;
    left: 0px;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 10px;
    border-radius: 50%;
}

.div-link a
{
    width: 100%;
    font-size: 0.9em;
    color: var(--white);

    padding: 15px 10px;
    box-sizing: border-box;
}

.div-text
{
    width: 40%;

    margin: auto;
}

.active
{
    color: var(--secondary1);
}

.div-text p
{
    text-align: justify;

    padding-bottom: 0;
}

.display-menu-paginate
{
    width: 85%;

    margin: 20px auto;
    padding: 20px 0;
    border: 1px solid #F0F0F0;
}

.display-menu-paginate .display-menu-content
{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.display-menu-paginate .display-menu-content a:hover
{
    color: var(--secondary1);
}

.display-menu-paginate .display-menu-content div:nth-child(2) 
{
    display: flex;
    gap: 15px;
}

.display-menu-paginate .display-menu-content p
{
    padding-bottom: 0;
}

.display-card
{
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card
{
    width: 20%;

    display: flex;
    flex-direction: column;
}

.card a
{
    color: var(--black);
}

.card a:hover
{
    color: var(--secondary1);
}

.card p
{
    padding-bottom: 0;
}

.card figure
{
    border-bottom: 1px solid #F0F0F0;
}

.card figure:hover
{
    cursor: pointer;
    opacity: 0.9;
}

.card img
{
    width: 100%;

    display: flex;
}

.card div:nth-child(2)
{
    padding: 25px 0;
}

.card div:nth-child(2) p
{
    font-size: 1.3em;
}

.card div:nth-child(3)
{
    height: 50px;

    margin-bottom: 25px;
}

.card div:nth-child(3) a
{
    text-align: left;
}

.card div:nth-child(3) p:hover
{
    cursor: pointer;
    color: var(--secondary1);
}

.card div:nth-child(4) p
{
    font-size: 15px;
    font-weight: bold;
    line-height: normal;
    color: var(--white);
    background-color: var(--flash1);

    padding: 12px 15px;
    border-radius: 2px;
}

.card div:nth-child(4) p:hover
{
    cursor: pointer;
    opacity: 0.8;
}

.aside-navbar
{
    background: var(--secondary2);

    padding: 15px;
}

.aside-navbar a
{
    width: 100px;
    font-size: 0.8em;
    text-transform: uppercase;

    color: var(--black);
}

.aside-navbar a:hover
{
    color: var(--secondary1);
}

.bold
{
    font-weight: bold;
}

.none
{
    display: none;
}

/* Margin, Padding */

.margin-top
{
    margin-top: 20px;
}

.margin-none
{
    margin: 0;
}

.padding-none
{
    padding: 0;
}
