
/* Scroll Bar */

::-webkit-scrollbar
{
    width: 12px;
}

::-webkit-scrollbar-thumb
{
    background-color: var(--secondary2);
}

::-webkit-scrollbar-track
{
    background-color: var(--white);
}

@supports (scrollbar-color: var(--secondary2) var(--white))
{
    *
    {
        scrollbar-color: var(--secondary2) var(--white);
        scrollbar-width: auto;
    }
}

/* Webkit */

input::-webkit-input-placeholder
{
    font-size: 1.1em;
    font-family: var(--font-family);
    text-align: center;
}

textarea::-webkit-input-placeholder
{
    font-size: 1.1em;
    font-family: var(--font-family);
    text-align: center;
}

input::-moz-placeholder
{
    font-size: 1.1em;
    font-family: var(--font-family);
    text-align: center;
}

textarea::-moz-placeholder
{
    font-size: 1.1em;
    font-family: var(--font-family);
    text-align: center;
}

input:-ms-input-placeholder
{
    font-size: 1.1em;
    font-family: var(--font-family);
    text-align: center;
}

textarea:-ms-input-placeholder
{
    font-size: 1.1em;
    font-family: var(--font-family);
    text-align: center;
}

/* Generic */

body
{
    font-family: var(--font-family);
    text-align: center;
    background: var(--white);

    /* Change Default */
    box-sizing: border-box;
}

footer
{
    background: var(--secondary2);

    padding: 25px 0;
}

footer p
{
    font-size: 0.8em;
    text-transform: uppercase;

    padding-bottom: 0;
}

h1
{
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
}

h2
{
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;

    padding-bottom: 20px;
}

p
{
    font-size: 1.1em;

    padding-bottom: 10px;
}

a
{
    font-size: 1.1em;
    text-decoration: none;
    color: var(--black);

    display: inline-block;
}

/* Form */

form div
{
    margin-bottom: 20px;
}

form div input
{
    width: 250px;
    background-color: var(--secondary6);

    padding: 5px;
    border: 1px solid var(--secondary3);
    border-radius: 5px;
}

form div input:focus
{
    background-color: var(--secondary1);
}

#card-element
{
    width: 250px;
    background-color: var(--secondary6);

    margin: auto;
    padding: 5px;
    border: 1px solid var(--secondary3);
    border-radius: 5px;
}
