
/* Scroll Bar */

::-webkit-scrollbar
{
    width: 12px;
}

::-webkit-scrollbar-thumb
{
    background-color: var(--secondary2);
}

::-webkit-scrollbar-track
{
    background-color: var(--white);
}

@supports (scrollbar-color: var(--secondary2) var(--white))
{
    *
    {
        scrollbar-color: var(--secondary2) var(--white);
        scrollbar-width: auto;
    }
}

/* Generic */

body
{
    font-family: var(--font-family);
    text-align: center;
    background: var(--white);

    /* Change Default */
    box-sizing: border-box;
}

footer
{
    background: var(--secondary2);

    padding: 25px 0;
}

footer p
{
    font-size: 0.8em;
    text-transform: uppercase;

    padding-bottom: 0;
}

h1
{
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
}

h2
{
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;

    padding-bottom: 20px;
}

p
{
    font-size: 1.1em;

    padding-bottom: 10px;
}

a
{
    font-size: 1.1em;
    text-decoration: none;

    display: inline-block;
}
