body
{
    font-family: var(--font-family);
    text-align: center;
    background: var(--body);

    /* Change Default */
    box-sizing: border-box;
}

h1
{
    font-size: 1.2em;
}

h2
{
    font-size: 1.2em;

    padding-bottom: 20px;
}

h3
{
    font-size: 1.2em;

    padding-bottom: 20px;
}

p
{
    font-size: 1.1em;

    padding-bottom: 10px;
}

a
{
    font-size: 1.1em;
    text-decoration: none;

    display: inline-block;
}

/* Delete This Once Start */

img
{
    width: 150px;
    height: 150px;
}
