:root
{
    /* Font */
    --font-family: 'Montserrat', 'Open Sans', sans-serif;

    /* Secondary */
    --secondary1: #8BC2D6;
    --secondary2: #E8E8E8;
    --secondary3: #333333;
    --secondary4: #CD7F32;

    /* Flash */
    --flash1: #05a742;

    /* Base Color */
    --white: #ffffff;
    --black: #000000;
    --red: #FF0000;
    --blue: #0000FF;
}
