:root
{
    /* Font */
    --font-family: 'Montserrat', 'Open Sans', sans-serif;

    /* Section */
    --body: #ffffff;

    /* Secondary */
    --secondary1: #8BC2D6;

    /* Base Color */
    --white: #ffffff;
    --black: #000000;
    --blue: #0000FF;
    --red: #FF0000;
}
